/* css version: 3.0
   created:     19.12.18
   author:      Michael Gipsman
   email:       gipsman@gmail.com
*/

body {
	font: 0.9375em/1.2 Arial, sans-serif;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* out container */
.halfInterior {
	float: left;
  margin-top: 10px;
  border: 1px solid pink;
  box-sizing: border-box;
  width: 50%;
  overflow: visible;
}
.halfInterior-physExercis {
	border-right: solid 1px #90bcbc;
}

/* headings for fields */
.labels {
	clear: left;
  float: left;
  margin-right: 2.421307506053269%;
  width: 5.615384615384615em;
  font-size: 0.9333333333333333em;
}
.labels > li {
  margin: 10px 0 13px;
}


/* approach module */
.approach {
	float: left;
	position: relative;
	border: 1px solid #9ed1d1;
	margin: 0 3.883495145631068% 10px 0;
	padding: 6px 11px 0 6px;
}

/* states of approach module */
[data-approach^="none"] {
	background: #1e90ff url(images/none.png) 5px 3px no-repeat;
}
[data-approach^="obliqueByDoor"] {
	background: #1e90ff url(images/obliqueByDoor.png) 5px no-repeat;
}
[data-approach^="squatting"] {
	background: #1e90ff url(images/squatting.png) 5px no-repeat;
}
[data-approach^="obliqueBySwings"] {
	background: #1e90ff url(images/obliqueBySwings.png) 5px no-repeat;
}
[data-approach^="push-up"] {
	background: #1e90ff url(images/push-up.png) 5px no-repeat;
}

/* approach submodule */
.approach-phys {
	width: 40px;
}

/* module for select approach */
.selectApproach {
	position: relative;
	margin-bottom: 3px;
	padding-left: 26px;
	line-height: 1.133333333333333;
}
.selectApproach img {
  margin-top: 50%;
  transform: translateY(-50%);
}

/* delete button module */
.deleteBut {
	position: absolute;
	bottom: 0;
	right: 2.144772117962466%;
	top: 0;
	height: 1.2em;
	margin: auto 0;
	padding: 0.1333333333333333em 0.3333333333333333em 0.0666666666666667em 0.2666666666666667em;
	background: #9cc;
	cursor: pointer;
}
.deleteBut-smaller {
	bottom: auto;
	right: 0;
	padding: 0.25em 0.3333333333333333em 0.1666666666666667em 0.4166666666666667em;
	font-size: 0.8em;
}
.deleteBut-without-bg {
	padding: 0;
	background: none;
}

/* drop down variants */
.variants {
  display: none;
  position: absolute;
  margin-left: -26px;
  z-index: 1;
}
.is-variants {
	display: block;
}
.variants li {
	height: 17px;
	margin-top: 3px;
	padding-left: 26px;
	width: 14px;
}